Source: {{cookiecutter.package}}
Section: contrib/python
Priority: extra
Maintainer: {{cookiecutter.full_name}} <{{cookiecutter.email}}>
Build-Depends: debhelper (>= 9), python3, python3-venv, python3-dev, dh-virtualenv (>= 1.1), tar
Standards-Version: 3.9.5
Homepage: {{cookiecutter.url}}

Package: {{cookiecutter.package}}
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: {{cookiecutter.short_description}}
    .
    This is a distribution of "{{cookiecutter.package}}" as a self-contained
    Python virtualenv wrapped into a Debian package ("omnibus" package,
    all passengers on board). The packaged virtualenv is kept in sync with
    the host's interpreter automatically.
    .
    See https://github.com/spotify/dh-virtualenv for more details.
