#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv
#
# The below targets create a clean copy of the workdir via
# using "sdist", else "pip" goes haywire when installing from
# sourcedir ".", because that includes the debian build stage,
# and a recursive explosion ensues when symlinks are followed.

# Increase trace logging, see debhelper(7) (uncomment to enable)
#DH_VERBOSE=1

EXTRA_REQUIREMENTS=--preinstall "setuptools>=17.1" --preinstall "pip>=7" --preinstall "wheel"
DH_VENV_ARGS=--with python-virtualenv --setuptools --python {{cookiecutter.snake}} $(EXTRA_REQUIREMENTS) #-v

clean:
	test ! -d dist || rm -rf dist
	test ! -d debian/sdist || rm -rf debian/sdist
	dh $@ $(DH_VENV_ARGS)

build-arch:
	{{cookiecutter.snake}} setup.py sdist --formats tar
	mkdir -p debian/sdist
	tar -x -C debian/sdist --strip-components=1 --exclude '*.egg-info' -f dist/*.tar
	dh $@ $(DH_VENV_ARGS) --sourcedir debian/sdist

%:
	dh $@ $(DH_VENV_ARGS) --sourcedir debian/sdist
